#
# you must set the next three variables to the appropriate values for your environment
# LAPACK_INC_PATH must be the path to lapacke.h
# LAPACK_PATH must be the path to libpacke.a and liblapack.a
# BLAS_PATH must be the path to librefblas.a
# BLAS_NAME must be the name of your BLAS library (typically refblas or blas)
#
LAPACK_INC_PATH=/usr/local/lapack/include
LAPACK_PATH=/usr/local/lapack/lib
BLAS_PATH=/usr/lib64
BLAS_NAME=blas
